md-sidenav-layout {
      background: rgba(0,0,0,0.08);
}
md-sidenav {
      width: 200px;
}

md-card {
      margin: 0 16px 16px 0;
      width: 350px;
}
    
.card-container {
      display: flex;
      flex-direction: row;
}