<md-sidenav-layout fullscreen>
  <md-sidenav #start #sidenav mode="over">
    <md-nav-list>
        <md-list-item routerLink="dashboard" (click)="start.close()">Dashboard</md-list-item>
        <md-list-item [routerLink]="['dashboard', 1]" (click)="start.close()">Dashboard with Option</md-list-item>
        <md-list-item routerLink="user" (click)="start.close()">User Administration</md-list-item>
        <md-list-item routerLink="signup" (click)="start.close()">Create new User</md-list-item>
        <md-list-item routerLink="signin" (click)="start.close()">Login</md-list-item>
      <hr>
    <button md-raised-button #mybutton (click)="start.close()">Close</button>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-raised-button (click)="sidenav.toggle()" color="primary">menue</button>
     <span style="padding-left: 30px;">D4n Smart</span>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-layout>