<div [class.dark-theme]="isDarkTheme">
  <md-toolbar color="primary">
    <span>
      <button md-icon-button (click)="primsidenav.toggle()">
        <md-icon svgIcon="core:menue" ></md-icon>
      </button>
      D4n Smarthome
    </span>
    <span class="fill-remaining-space"></span>
    <span>
      <button md-icon-button>
        <md-icon svgIcon="core:avatar"></md-icon>
      </button>
    </span>
    <span *ngIf="isLoggedIn()">
      Username
    </span>
    <span>
      <button md-icon-button [md-menu-trigger-for]="menu" >
        <md-icon svgIcon="core:dots-vertical"></md-icon>
      </button>
      <md-menu x-position="before" #menu="mdMenu">
          <button md-menu-item> Toggle Theme </button>
          <button md-menu-item> Settings </button>
          <button md-menu-item> Help </button>
          <button md-menu-item [disabled]="!isLoggedIn()" routerLink="signout"> Sign Out </button>
      </md-menu>
    </span>
  </md-toolbar>

  <md-sidenav-layout>
    <md-sidenav #primsidenav mode="over">
      <md-nav-list>
        <md-list-item routerLink="dashboard" (click)="primsidenav.close()">Dashboard</md-list-item>
        <md-list-item [routerLink]="['dashboard', 1]" (click)="primsidenav.close()">Dashboard with Option</md-list-item>
        <md-list-item routerLink="configurator" *ngIf="isLoggedIn()" (click)="primsidenav.close()">Configuration</md-list-item>
        <md-list-item routerLink="user" *ngIf="isLoggedIn()" (click)="primsidenav.close()">User Administration</md-list-item>
        <md-list-item routerLink="signup" *ngIf="isLoggedIn()" (click)="primsidenav.close()">Create new User</md-list-item>
        <md-list-item routerLink="signin" *ngIf="!isLoggedIn()" (click)="primsidenav.close()">Login</md-list-item>
        <md-list-item routerLink="signout" *ngIf="isLoggedIn()" (click)="primsidenav.close()">Logout</md-list-item>
      </md-nav-list>
    </md-sidenav>
    <md-sidenav #sidenav align="end" mode="side">
      <md-tab-group>
        <md-tab>
          <template md-tab-label>Details</template>
          <template md-tab-content>
            <button md-raised-button (click)="sidenav.close()" color="accent">CLOSE</button>
          </template>
        </md-tab>
        <md-tab>
          <template md-tab-label>Feed</template>
          <template md-tab-content></template>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-layout> 
</div>