body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

* {
    -webkit-font-smooting: antialiased;
    -moz-osx-font-smooting: antialiased;
}

.md-elevation-z4 {
    box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)
}

.md-toolbar-font {
    font-size: 14px;
    padding: 0 14px;
}

md-toolbar {
    .fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
    }
} 

md-sidenav-layout {
     height: 100vh;

     [md-raised-button] {
        width: 100%;
     } 

    md-icon {
        height: 24px;
        width: 24px;
    }
}

md-sidenav {
      width: 320px;
}

md-24 {
    height: 20px;
}