<div fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
    <h1> Datadriven Signup </h1>
    <md-card>
        <md-card-content>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm.value)">
                <md-input-container>
                <div>
                    <div class="form-group">
                        <input mdInput  placeholder="Login Name" type="text" 
                                class="form-control" 
                                id="nickname"
                                formControlName="nickname">
                    </div>
                    <div class="form-group">
                        <input  mdInput placeholder="First Name" type="text" 
                                class="form-control" 
                                id="firstname"
                                formControlName="firstname">
                    </div>
                    <div class="form-group">
                        <input mdInput  placeholder="Last Name" type="text" 
                                class="form-control" 
                                id="lastname"
                                formControlName="lastname">
                    </div>
                    <div class="form-group">
                        <input mdInput placeholder="eMail" type="text" 
                                class="form-control" 
                                id="email"
                                formControlName="email">
                    </div>
                </div>
                <div class="form-group">
                    <input mdInput placeholder="Password" type="password" 
                            class="form-control" 
                            id="password"
                            formControlName="password">
                </div>
                <button md-raised-button color="primary" type="submit">Submit</button> 
                </md-input-container>
            </form>
        </md-card-content>
    </md-card>
</div>