<h1> Datadriven Signup </h1>
<md-card>
    <md-card-content>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <md-input  type="text" 
                            class="form-control" 
                            id="username"
                            formControlName="username"></md-input>
                </div>
                <div class="form-group">
                    <label for="username">E-Mail</label>
                    <md-input  type="text" 
                            class="form-control" 
                            id="email"
                            formControlName="email"></md-input>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <md-input  type="password" 
                        class="form-control" 
                        id="password"
                        formControlName="password"></md-input>
            </div>
            <button md-raised-button color="primary" type="submit">Submit</button> 
        </form>
    </md-card-content>
</md-card>