<h1>Template Driven Form</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div>
    <div class="form-group">
      <md-input placeholder="Username" type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required></md-input>
    </div>
    <div class="form-group">
      <md-input placeholder="eMail" type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email"></md-input>
    </div>
  </div>
  <div class="form-group">
    <md-input placeholder="Password" type="password" class="form-control" id="password" ngModel name="password" required #email="ngModel"></md-input>
  </div>
  <button md-raised-button color="primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>