<div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10px; height: 100%" >
  <div fxFlexAlign="center">
    <md-card style="width: 130px; height: 180px; margin-right: 30px">
      <md-card-header>
        <md-card-title>Application</md-card-title>
        <md-card-subtitle>Lights</md-card-subtitle>
      </md-card-header>
      <md-icon svgIcon="assets:appcenter" style="height: 8rem; width: 8rem; fill: #00796b!important"></md-icon>
    </md-card>
  </div>
  <div fxFlexAlign="center">
    <md-card style="width: 130px; height: 180px">
      <md-card-header>
        <md-card-title>Application</md-card-title>
        <md-card-subtitle>Plugs</md-card-subtitle>
      </md-card-header>
      <md-icon svgIcon="assets:appcenter" style="height: 8rem; width: 8rem; fill: brown!important"></md-icon>
    </md-card>
  </div>
</div>
